
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #f5f5f5;
}

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.social a {
  padding: 0 .5em;
}

.ekko-lightbox-nav-overlay a {
  color: #343a40!important
}

.search-helper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

