{% extends "base.html" %}

{% block content %}

<h1>Poster sessions for everyone.</h1>

<p>Poster sessions at scientific conferences are a great way of quickly getting an overview over the current state of a particular research field. Unlike papers and recorded talks, however, posters are normally not available to an audience beyond the conference attendees.</p>

<p>We strive to increase visibility of state-of-the-art research through a transparent publication platform for conference posters.</p>

<p>Postersession.ai is currently invite-only for work published at top machine learning conferences. Let us know what you think at contact@mg.postersession.ai.</p>

<p>
Jonathan Binas (Mila, Montreal)<br />
Avital Oliver (Brain, Amsterdam)
</p>


{% endblock %}
