{% extends "base.html" %}
{% load fullurl %}


{% block title %}Poster: {{ poster }} ({{ poster.conference }}){% endblock %}


{% block meta %}
    <meta name="description" content="{{ poster.ref_long }}">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Poster: {{ poster.ref_short }}" />
    <meta property="og:description" content="{{ poster.ref_long }}" />
    <meta property="og:url" content="{% fullurl 'detail' poster.slug %}" />
    <meta property="og:site_name" content="Postersession.ai Machine Learning Conference Posters" />
    <meta property="og:image" content="{{ poster.preview_small.url }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Poster: {{ poster.ref_short }}" />
    <meta name="twitter:description" content="{{ poster.ref_long }}" />
    <meta name="twitter:image" content="{{ poster.preview_small.url }}" />
{% endblock %}


{% block content %}
<h1>{{ poster.title }}</h1>
<p>{{ poster.author_list }}. {{ poster.conference }}. {% if poster.pdf or poster.ext_url %} ({% if poster.pdf %}<a target='_blank' href='{{ poster.pdf.url }}'><b>Poster PDF</b></a>{% endif %}{% if poster.pdf and poster.ext_url %} &middot; {% endif %}{% if poster.ext_url %}<a target='_blank' href='{{ poster.ext_url }}'><i class='fas fa-external-link-square-alt'></i> <b>Paper</b></a>{% endif %}){% endif %}</p>

{% if poster.preview_large %}<img src="{{ poster.preview_large.url }}" class="img-fluid">{% endif %}
{% endblock %}
