{% extends "base.html" %}

{% block content %}
    <h3>ICLR 2019 posters</h3>
    {% if poster_list %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row">
            {% for poster in poster_list %}
                <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" data-title="{{ poster.title }}" data-footer="{% for author in poster.authors.all %}{{author.name}}{% if forloop.last %}. {% else %}, {% endif %}{% endfor %}{{ poster.conference }}. &nbsp; <a href=''>Download PDF</a>">
                    <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid">
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
        <p>No posters are available.</p>
    {% endif %}
{% endblock %}
