{% extends 'base.html' %}
{% load fullurl %}


{% block robots %}
  {{ block.super }}
  <meta name="robots" content="noindex, nofollow">
{% endblock %}


{% block content %}
  <h3>Poster upload: {{ poster.title }}</h3>
  <p>
    {{ poster.author_list }}. {{ poster.conference }}.
  </p>
  {% if poster.active and poster.preview_small %}
  <p>
    <a href='{% fullurl 'detail' poster.slug %}'>
      <img src="{{ poster.preview_small.url }}" class="img-fluid">
    </a>
  </p>
  {% endif %}
  <form method="post" enctype="multipart/form-data" id="upload">
    <div class="form-group">
    {% csrf_token %}
    {{ form.as_p }}
    </div>
    <div class="form-group">
    <button type="submit" id="btnSubmit">Upload</button>
    </div>
  </form>

  <p><a href="{% url 'home' %}">Return to overview</a></p>
{% endblock %}

{% block modal %}
  <div class="modal fade" id="mdlSubmit" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Processing...</h4>
        </div>
        <div class="modal-body">
          <p>Note that uploading and processing your file can take a minute or two. Thank you for your patience.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
      $(document).ready(function () {
        $("#upload").submit(function (e) {
           $("#btnSubmit").attr("disabled", true);
           $("#mdlSubmit").modal();
           return true;
        });
      });
    </script>
{% endblock %}
